services:
 
  db:
    env_file: .env 
    image: postgres:17-alpine 
    volumes:
      - ./phoneBook_app/db:/var/lib/postgresql/data 
    environment: 
      POSTGRES_DB: ${DB_NAME} 
      POSTGRES_USER: ${DB_USER}    
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
    ports:
      - "5433:5432" 
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 100s
      timeout: 100s
      retries: 5
    
  backend:
    build: .
    ports:
      - "8000:8000"    
    environment:
      DATABASE_URL: postgresql+asyncpg://phoneBookUser:phoneBookPassword@db:5432/phoneBookDb
      PYTHONASYNCIODEBUG : "1"
    depends_on: 
      db:
        condition: service_healthy 
    volumes:
      - .:/app 

volumes:
  phoneBook_data: 